header, footer {
	background-color: #000;
	color: #fff;
}

.banner {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
}

.banner-home {
	background-image: url("http://placehold.it/290x320");
}

.banner-tour {
	background-image: url("http://placehold.it/290x320");
}

.banner-price {
	background-image: url("http://placehold.it/290x320");
}

.banner-signup {
	background-image: url("http://placehold.it/290x320");
}

.banner-confirm {
	background-image: url("http://placehold.it/290x320");
}

a {
	text-decoration: none;
	border-radius: 8px;
	padding: 0.375em 0.75em 0.42em;
	color: black;
}

p {
	font-weight: 300;
}

.main-nav a, .footer-nav a {
	border: none;
	color: #fff;
}

.main-nav a:hover, .footer-nav a:hover {
	color: #333;
}

.banner a {
	color: #fff;
}

.rule {
	border-top: 2px solid;
	border-bottom: 2px solid;
}

.sec-1 {
	background-color: #b3b3b3;
}

.sec-2 {
	background-color: #e6e6e6;
}

.sec-3 {
	background-color: #f2f2f2;
}

