header, footer {
	background-color: #000;
	color: #fff;
}

p {
	font-weight: 300;
}

.logo {
	width: 150px;
}

.banner {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
}

.banner h1, .banner p {
	text-shadow: 2px 4px 6px #000;
}

.banner-home {
	background-image: url("../images/banner-home.jpg");
}

.banner-tour {
	background-image: url("../images/banner-tour.jpg");
}

.banner-pricing {
	background-image: url("../images/banner-pricing.jpg");
}

.banner-signup {
	background-image: url("../images/banner-signup.jpg");
}

a {
	text-decoration: none;
	border-radius: 8px;
	padding: 0.375em 0.75em 0.42em;
}

.main-nav a, .footer-nav a {
	border: none;
	color: #fff;
}

.main-nav a:hover, .footer-nav a:hover {
	color: #ffce06;
}

.btn {
  display: inline-block;
  padding: 0.375em 0.75em 0.42em;
  background-color: #333;
  border-radius: 8px;
  border: 0;
  color: #ffce06;
  text-decoration: none;
}

.btn--light {
  background-color: #ffce06;
  color: #000;
}

.btn--light:hover {
  background-color: #333;
  color: #fff;
}

.rule {
	border-top: 2px solid;
	border-bottom: 2px solid;
}

.sec-1 {
	background-color: #feeebb;
}

.sec-2 {
	background-color: #fedf77;
}

.sec-3 {
	background-color: #ffce06;
}

a:focus, [tabindex="0"]:focus,
input:focus, textarea:focus, button:focus {
  outline: 3px solid #ffce00;
  outline-offset: 3px;
}

.current {
	color: #ffce00;
}

@media print {

	.print-p-0{
		padding: 0;
	}

	.print-push-0{
		margin: 0;
	}

}
